



.transbox{
  background-image: url("Images/worldinhandimage.png");
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.givePerfect{
  font-size:120px;
  color: white;
  font-family:raleway;
  margin-left: 20px;
}



.mission{
  font-size:40px;
  color: white;
  font-family:raleway;
  margin-left: 20px;
}

.zerofees{
  font-size:32px;
  color: white;
  font-family:raleway;
  font-weight: bold;
}

.letsDoIt{
  font-size:72px;
  color: white;
  font-family:raleway;
  text-align: left;
  float: right;
  margin-bottom: 0;

}
/*
#mc_embed_signup{
  color: black;
  font-size:35px;
  display:inline-block;
  border-style:solid;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  padding-top: 8px;
  padding-bottom: 2px;
  background-color: #A2CD91;
  border-color: #A2CD91;
  border-width: 2px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
*/
.submitButton{
  display: inline-block;
  font-size: 35px;
  padding-top: 8px;
  padding-bottom: 9px;
  border-style: solid;
  color: white;
  background-color: #A2CD91;
  border-color: #A2CD91;
  border-width: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.what{
  color: #263238;
  font-family: Open+Sans;
  font-size: 42px;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  font-weight: 20;
}

.how{
  background-color: #A2CD91;
  margin-top:0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.howText{
  color:white;
  text-align: center;
  font-family: Open+Sans;
  font-size: 80px;
}

.ambassador{
  background-color: #ECEFF1;
  overflow: hidden;
}
.ambassadorText{
  color: #263238;
  font-size: 64px;
  font-family: Open+Sans;
  text-align: center;
}

.emailButton{
  background-color: #4D9F2B;
  color: white;
  border-radius: 30px;
  padding-top: 30px;
  padding-right: 80px;
  padding-bottom: 30px;
  padding-left: 80px;
  font-size: 32px;
  border: 6px solid #4D9F2B;
}

.emailButton:hover{
  background-color: #ECEFF1;
  color: #4D9F2B;
  text-decoration: none;
}

.fa-facebook-square{
  color: #4D9F2B;
  margin: 60px;
}

.fa-facebook-square:hover{
  font-size: 130px;
  text-decoration: none;
  color: #4D9F2B;
}

.fa-twitter-square{
  color: #4D9F2B;
  margin: 60px;
}

.fa-twitter-square:hover{
  font-size: 130px;
  text-decoration: none;
  color: #4D9F2B;
}

.fa-instagram{
  color: #4D9F2B;
  margin: 60px
}

.fa-instagram:hover{
  font-size: 130px;
  text-decoration: none;
  color: #4D9F2B;
}

.footer{
  background-color: #A2CD91;
}

.socialMedia{
  background-color: #ECEFF1;
  width: 100%;
}
